

.Menu{

    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    top: 0%;

    .logo{
    
        width: 20%;
        text-align: left;
        padding-left: 5%;
        
            .imagen{
                width: 50%;
            }       
        
        
        }
        .navbar{
        
        width: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
            
            a{
                padding-right: 2%;
                text-decoration: none;
                color: black;
           }

           a:hover {
                color:rgb(8, 173, 8);
           }       
        
        }
        
        .Social-Media{
            width: 30% !important;
            text-align: right;
            padding-right: 1%;  
            display: flex;
            justify-content: center;
            align-items: center;   

                a{
                    padding-right: 4%;
                    font-size: 1.2em;
                    color: black;
                }

                a:hover {
                    color:rgb(8, 173, 8);
               }            
            } 
            
                
            
    }


